Meeting w/ Paul: https://calendly.com/pjens

CutFree Tool: https://jensenlab.shinyapps.io/cutfree/

Julia Keyboard Shortcuts: https://www.julia-vscode.org/docs/dev/userguide/keybindings/

Jump Dev: https://github.com/jump-dev/Gurobi.jl

Gurobi Parameters: https://www.gurobi.com/documentation/9.1/refman/parameters.html

Gurobi for Julia: https://docs.juliahub.com/Gurobi/do9v6/0.7.7/